.cus_item_body {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
.cus_item_inner_body {
  /* border: 1px solid orange; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.title {
  /* border: 1px solid black; */
  font-size: 30px;
  font-weight: 600;
  margin: 30px 30px;
  width: 100%;
  text-align: center;
}
.items_body {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.each_item {
  border-bottom: 1px solid gray;
  /* border: 1px solid black; */
  height: 36rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  /* width: 40%; */
  height: 400px;
  padding-right: 2rem!important;
}

.each_item_img_wrapper {
  /* border: 1px solid orange; */
  border-radius: 12px;
  height: 310px;
  /* width: 80%; */
}
.each_item_img {
  /* width: 100%; */
  height: 285px;
  border-radius: 999px;
  object-fit: cover;
}
.each_item_details {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black;  */
  width: 40%;
  min-width: 300px;
  font-size: 20px;
  font-weight: 400;
  height: 450px;
}
.item_name {
  /* border: 1px solid black; */
  font-size: 1.4rem!important;
  font-weight: 400;
  font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  width: 100%;
  height: 40px;
}
.item_price {
  /* border: 1px solid black; */
  font-weight: bold;
  padding-top: 10px;
  /* padding-right: 3px; */
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.each_item_customization {
  /* border: 1px solid black; */
  padding-top: 10px;
  /* padding-right: 3px; */
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(92, 89, 89);
  width: 100%;
}
.right_div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-left: 2rem!important;
}
.each_button {
  /* border: 1px solid black; */
  margin-bottom: 20px;
}
.no_customized_items {
  text-align: center;
  padding-top: 40px;
  /* border: 1px solid orange; */
  font-size: 22px;
  font-weight: 400;
  color: gray;
}
