.outer_most {
  border-bottom: 2px solid rgba(206, 199, 199, 0.5);
  width: 100%;
  display: flex;

  box-shadow: rgba(0, 0, 0, 0) 0.87;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400;
  height: 100px;
  letter-spacing: -0.16px;
  line-height: 24px;
  text-size-adjust: 100%;
  margin-bottom: 30px;
  align-items: center;
  text-decoration: none;
}

.outer_nav {
  /* border: 1px solid blue; */
  /* border: 1px solid rgb(70, 144, 70); */
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1440px;
  width: 95%;
  width: 99%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  font-size: 16px;
  height: 100px;
  line-height: 24px;
  margin: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  text-size-adjust: 100%;
}

.nav_bar {
  /* border: 1px dashed salmon; */
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  font-size: 16px;
  height: 100px;
  line-height: 24px;
  text-size-adjust: 100%;
}
.left_nav {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  font-size: 16px;
  height: 100px;
  width: 185px;
  line-height: 24px;
  text-size-adjust: 100%;
  margin-left: 30px;
}

.home_logo {
  box-sizing: border-box;
  cursor: pointer;
  height: 95px;
  line-height: 24px;
  text-size-adjust: 100%;
  width: 95px;
  display: inline-block;
  /* border: 2px solid black; */
}
.menu_text_wrapper {
  box-sizing: border-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  height: 100px;
  width: 60px;
  letter-spacing: 1.4px;
  line-height: 21px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-decoration: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
  /* border: 1px solid green; */
}
.menu_text {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  height: 30px;
  border-radius: 50px;
}
.menu_text:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgrey;
  border-radius: 50px;
}
.right_bar {
  /* border: 1px solid rgb(140, 36, 125); */
  display: flex;
  flex-direction: row;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  font-size: 16px;
  height: 100px;
  width: 150px;
  line-height: 24px;
  text-size-adjust: 100%;
}

/* .login_signup {
  border: 1px solid green;
  box-sizing: border-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 100px;
  width: 200px;
  letter-spacing: 1.4px;
  line-height: 21px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-decoration: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
} */
.login_wrapper {
  /* border: 1px green dashed; */
  box-sizing: border-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  height: 100px;
  width: 68px;
  letter-spacing: 1.4px;
  line-height: 21px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-decoration: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
}
.login {
  /* border: 1px green dashed;
  box-sizing: border-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  height: 100px;
  width: 68px;
  letter-spacing: 1.4px;
  line-height: 21px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-decoration: none;
  text-size-adjust: 100%;
  text-transform: uppercase; */
  height: 35px;
  width: 60px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.signup_wrapper {
  /* border: 1px red dashed; */
  box-sizing: border-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  height: 100px;
  width: 78px;
  letter-spacing: 1.4px;
  line-height: 21px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-decoration: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
}
.signup {
  /* border: 1px black dashed; */
  height: 35px;
  width: 70px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /* box-sizing: border-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  height: 100px;
  width: 78px;
  letter-spacing: 1.4px;
  line-height: 21px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-decoration: none;
  text-size-adjust: 100%;
  text-transform: uppercase; */
}
.login:hover,
.signup:hover {
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgrey;
  border-radius: 50px;
}
.logged_in {
  /* border: 1px green dashed; */
  box-sizing: border-box;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  height: 100px;
  width: 68px;
  letter-spacing: 1.4px;
  line-height: 21px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-decoration: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
}
.nav_logo {
  /* border: 1px solid rgb(91, 91, 188); */
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: flex;
}
