.order_container {
  /* border: 1px solid coral; */
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: #f9f9f9;
}

.order_item_container {
  /* border: 1px solid coral; */
  width: 100%;
}

.review_order_container {
  /* border: 1px solid purple; */
  width: 80%;
}

.review_order_header {
  /* border: 1px solid brown; */
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/* .checkout {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout_button {
  border: none;
  text-align: center;
  width: 270px;
  font-size: 20px;
  font-weight: 500;
  height: 60px;
  border-radius: 999px;
  background-color: #1f3933;
  color: white;
} */
