.landing_body {
  /* border: red 1px solid; */
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  margin: auto;
  text-size-adjust: 100%;
  width: 100%;
}
.body_div {
  /* border: 1px dashed salmon; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  text-size-adjust: 100%;
  /* max-width: 1440px; */
  width: 100%;
}
.inner_body {
  /* border: 4px solid green; */
  max-width: 1440px;
  margin: auto;
}
/* #006241 */
.each_div {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.16px; */
  /* line-height: 24px; */
  text-size-adjust: 100%;
  width: 100%;
  /* border: 1px solid black; */
  margin-bottom: 30px;
}
.img_div {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 444px;
  text-size-adjust: 100%;
  /* width: 720px; */
  width: 50%;
  /* border: 1px solid blue; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_img {
  height: 444px;
  /* width: 720px; */
  width: 100%;

  object-fit: cover;
}
.name_description {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  /* width: 720px; */
  width: 50%;
  height: 444px;
  background-color: #006241;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.inner_des {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 70%;
  padding-bottom: 40px;
  padding-top: 40px;
  /* border: 1px solid blue; */
}
.item_name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.item_des {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.order_now_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.order_now {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 115px;
  height: 35px;
  border: white solid 1px;
  border-radius: 999px;
  font-weight: 700;
  transition: 0.5s;
}
.order_now:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1250px) {
}
@media (min-width: 1000px) {
}
