.addToCartButton_wrapper {
  width: 270px;
  font-size: 20px;
  font-weight: 500;
  height: 60px;
  border-radius: 999px;
  background-color: #1f3933;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addToCartButton {
  font-size: 20px;
  font-weight: 500;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
